{
  "rules": {
    "no-console": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "off"
  },
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ]
}
